*.class

# Package Files #
*.jar
*.war
*.ear

/*.classpath

/*.project
*.jsdtscope

/.settings/*.prefs

/.settings/*.component

/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

/.settings/org.eclipse.wst.common.project.facet.core.xml

/.settings/org.eclipse.wst.jsdt.ui.superType.container

/.settings/org.eclipse.wst.jsdt.ui.superType.name

/.springBeans

/mvn-package.bat

/target/classes/META-INF

/target/classes

/target/m2e-wtp/web-resources/META-INF
